@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import './base.css';
@import 'tailwindcss';
body {
  font-family: 'Libre Franklin', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.1rem;
}
.dragging,
.sortable-chosen {
  opacity: 40;
  cursor: grabbing;
}

.draggable-fade-enter-active,
.draggable-fade-leave-active {
  transition: all 0.2s ease;
}

.draggable-fade-enter-from,
.draggable-fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
